@tailwind base;
@tailwind components;
@tailwind utilities;

blog-image {
    display: block;
    width: 100%;
    max-height: 18em;
    overflow: hidden !important;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

.shadow-solid-small {
    box-shadow: -10px 10px 0px 0px;
}

.shadow-solid-black {
    box-shadow: 0px 0px 0px 0px;
}

@media screen and (min-width: 500px) {
    .shadow-solid-black {
        box-shadow: -22px 22px 0px 0px;
    }
}

.blinking-cursor {
    -webkit-animation: 1.5s blink step-end infinite;
    -moz-animation: 1.5s blink step-end infinite;
    -ms-animation: 1.5s blink step-end infinite;
    -o-animation: 1.5s blink step-end infinite;
    animation: 1.5s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

pre {
    counter-reset: line;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
code {
    counter-increment: line;
    /* custom styles */
    word-wrap: normal;
}

code:before{
    content: counter(line);
}

